<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="WILDDOG_TOKEN" content="<%- token %>"/>
  <meta name="WILDDOG_REF" content="<%- url %>/<%- uid %>"/>
  <title>V8 memory dashboard</title>
  <link rel="stylesheet" href="//apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="//apps.bdimg.com/libs/highlight.js/9.1.0/styles/default.min.css"/>
  <script src="//apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="//cdn.wilddog.com/js/client/current/wilddog.js"></script>
  <script src="//apps.bdimg.com/libs/highlight.js/9.1.0/highlight.min.js"></script>
  <script src="//cdn.bootcss.com/highcharts/4.2.5/highcharts.js"></script>
  <script src="//cdn.bootcss.com/highcharts/4.2.5/modules/treemap.js"></script>
  <script src="//cdn.bootcss.com/numeral.js/1.5.3/numeral.min.js"></script>
  <script src="../../js/app.js"></script>
  <!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
      for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
    mixpanel.init("<%- MIXPANEL_TOKEN %>");</script><!-- end Mixpanel -->
  <script>
    mixpanel.identify("<%- user.login %>");
    mixpanel.people.set({
      "$first_name":"<%- user.login %>",
      "$last_name":"<%- user.name %>",
      "$location":"<%- user.location %>",
      "$company":"<%- user.company %>",
      "$email": "<%- user.email %>",    // only special properties need the $
      "$last_login": new Date()         // properties can be dates...
    });
    mixpanel.track("Login");
  </script>
</head>
<body>
<div class="container">
  <div class="row">
    <div>
      <div class="col-md-12">
        <div class="page-header">
          <h1>
            你好, <%- user.name %>
          </h1>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            注册机器
          </div>
          <div class="panel-body">
                        <pre>
<code class="javascript">
const client = require('v8-memory-dashboard-client');
client.register({
  url: "<%- url %>/<%- uid %>.json"
});
</code>
                        </pre>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            内存
          </div>
          <div class="panel-body">
            <div id="mem"></div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            heap
          </div>
          <div class="panel-body">
            <div id="memory_property" class="btn-group" role="group" aria-label="...">
              <button type="button" class="btn btn-default">physical_space_size</button>
              <button type="button" class="btn btn-default">space_available_size</button>
              <button type="button" class="btn btn-default">space_size</button>
              <button type="button" class="btn btn-default">space_used_size</button>
            </div>
            <div id="heap"></div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            机器信息
          </div>
          <div class="panel-body">
            <pre id="info"><code class="json"></code></pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>